In [9]:
#
# run in scipy environment
#
import pandas as pd

In [4]:
df = pd.read_csv(r"./data/sales.csv")

In [5]:
df.head()

,Year,Product,line,Product.1,type,Product.2,Order,method,type.1,Retailer,country,Revenue
0,2004,Camping,Equipment,Cooking,Gear,TrailChef,Water,Bag,Telephone,United,States,315044.33
1,2004,Camping,Equipment,Cooking,Gear,TrailChef,Water,Bag,Telephone,Canada,NaN,14313.48
2,2004,Camping,Equipment,Cooking,Gear,TrailChef,Water,Bag,Telephone,Mexico,NaN,156644.47
3,2004,Camping,Equipment,Cooking,Gear,TrailChef,Water,Bag,Telephone,Brazil,NaN,59191.72
4,2004,Camping,Equipment,Cooking,Gear,TrailChef,Water,Bag,Telephone,Japan,NaN,7029.33

In [7]:
campaign_data = pd.read_csv(r"./data/data.csv", header = 1)

In [8]:
campaign_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   views   100 non-null    int64
 1   likes   100 non-null    int64
dtypes: int64(2)
memory usage: 1.7 KB